# ignore all .pt files of pre trained models but include custom trained weights
*.pt
!Yolo_Custom_training/**/**/*.pt
# Ignore vscode
.vscode/
# Ignore virtual environment folder
.venv/
# ignore all pyache
__pycache__/